
body {
    margin: 0px;
    padding: 20px;
    font-family: arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    background-color: #eef;
    
  }
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    letter-spacing: 2px;
  }
  button {
    margin: 50px;
  }

